# ======================
# Kafka
# ======================
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_MATCHES=epl.matches
KAFKA_TOPIC_EVENTS=epl.events
KAFKA_TOPIC_STANDINGS=epl.standings
KAFKA_CONSUMER_GROUP=spark-group
# Note: epl.injuries dropped — not supported by Football API free plan

# ======================
# Football API (api-football.com)
# ======================
API_FOOTBALL_KEY=your_api_key_here
API_FOOTBALL_HOST=v3.football.api-sports.io
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
EPL_LEAGUE_ID=39
EPL_SEASON=2024

# ======================
# AWS
# ======================
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=ap-southeast-1
S3_BUCKET_RAW=epl-pipeline-raw-nqh
S3_BUCKET_PROCESSED=epl-pipeline-processed-nqh

# ======================
# dbt (Athena adapter)
# ======================
DBT_S3_STAGING_DIR=s3://epl-pipeline-processed-nqh/athena-results/
DBT_S3_DATA_DIR=s3://epl-pipeline-processed-nqh/dbt/
DBT_SCHEMA=epl_gold
GLUE_DATABASE=epl_db

# ======================
# Airflow
# ======================
AIRFLOW_ADMIN_PASSWORD=change_me_to_a_strong_password
AIRFLOW__CORE__FERNET_KEY=generate_with_python_-c_"from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
